* {
    margin: 0px;
}

.contenedor {
    background: #001aff;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50px 50px 50px;
    width: 100%;
    gap: 10px;
    /* justify-items: center; */
    align-items: center;
}


.d1 {
    background-color: #E40303;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.d2 {
    background-color: #FF8C00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.d3 {
    background-color: #FFED00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.d4 {
    background-color: #24408E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.d5 {
    background-color: #732982;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.d6 {
    background-color: #E40303;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.d7 {
    background-color: #FF8C00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.d8 {
    background-color: #FFED00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.d9 {
    background-color: #24408E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.d10 {
    background-color: #732982;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}